    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    box-shadow: none;
    -webkit-transition: background-position .25s ease,border-color .25s ease;
    -moz-transition: background-position .25s ease,border-color .25s ease;
    -ms-transition: background-position .25s ease,border-color .25s ease;
    -o-transition: background-position .25s ease,border-color .25s ease;
    transition: background-position .25s ease,border-color .25s ease;
    background-color: #f5b400!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffdb7a", endColorstr="#f4b300");
    background-image: -khtml-gradient(linear,left top,left bottom,from(#ffdb7a),to(#f4b300));
    background-image: -moz-linear-gradient(top,#ffdb7a,#f4b300);
    background-image: -ms-linear-gradient(top,#ffdb7a,#f4b300);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffdb7a),color-stop(100%,#f4b300));
    background-image: -webkit-linear-gradient(top,#ffdb7a,#f4b300);
    background-image: -o-linear-gradient(top,#ffdb7a,#f4b300);
    background-image: linear-gradient(#ffdb7a,#f4b300);
    border-color: #f4b300 #f4b300 #d49b00;
    color: #fff!important;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-font-smoothing: antialiased;
    border-radius: 6px;
    display: block;
    border-width: 1px;
    border-style: solid;
    margin: 0;
    padding: .4em 1.2em;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
